.regionAndCountriesList{
    
   
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack children vertically */
    width: 25%;
    float: left;
    height: 85vh;
        
}
.regionButton{


    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 6px 12px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    float: left;


}
.regionSelection{
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px; /* or any other value you prefer */
    height: 15.5vh;
    background-color: darkred;
}
.countrySelection{
background-color: purple;
color:white;
text-align: center;
font-size:24px;
position: relative;
flex-grow: 1;

}
.country-button {
    display: block; /* Make the button widen to full width of li */
    width: 100%; /* Optional: In case you want the button to fill the li */
    padding: 5px 10px; /* Some padding */
    text-align: left; /* Align the text to the left */
    border: none; /* Remove border */
    background-color: transparent; /* Transparent background */
    cursor: pointer; /* Cursor becomes pointer on hover */
    color:darkorange
}

.country-button:hover {
    background-color: #e0e0e0; /* Change background on hover */
}
