.regionAndCountriesList{
    
   
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack children vertically */
    width: 25%;
    float: left;
    height: 85vh;
        
}

.regionSelection{
    text-align: center;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px; /* or any other value you prefer */
    height: 25vh;
    background-color: #ececec;
}
.countrySelection {
    background-color: #fff;
    color: #000000;
    text-align: center;
    font-size: 24px;
    position: relative;
    flex-grow: 1;
}
#country-list {
    list-style-type: none;
    padding: 0; /* Removes default padding */
}

/* Style for the country buttons */
.country-button {
    display: block;
    width: 100%; /* Full width of the list */
    padding: 8px 15px; /* Slightly less padding than region buttons */
    text-align: center; /* Text aligned to the left */
    background-color: #f5f5f5; /* Light grey background */
    color: #333; /* Darker text for contrast */
    border: 1px solid #ddd; /* Subtle border */
    border-radius: 3px; /* Less rounded corners than region buttons */
    cursor: pointer; /* Cursor changes to indicate it's clickable */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    margin-bottom: 5px; /* Margin at the bottom of each button */
}

/* Hover effect for country buttons */
.country-button:hover {
    background-color: #e6e6e6; /* Slightly darker grey on hover */
    color: black; /* Black text on hover */
}

/* Focus style for country buttons for accessibility */
.country-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #999; /* Grey outline to indicate focus */
}


/* Basic styling for region buttons */
.regionButton {
    padding: 10px 20px; /* Adequate padding for better clickability */
    background-color: black; /* Black background for a sleek look */
    color: white; /* White text for high contrast */
    border: 2px solid white; /* White border for added style */
    border-radius: 5px; /* Slightly rounded corners for a modern look */
    font-size: 16px; /* Legible font size */
    cursor: pointer; /* Cursor changes to indicate clickable button */
    margin: 5px; /* Space between buttons */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

/* Hover effect for region buttons */
.regionButton:hover {
    background-color: white; /* White background on hover */
    color: black; /* Black text on hover */
    border-color: black; /* Black border on hover */
}

/* Focus style for accessibility */
.regionButton:focus {
    outline: none;
    box-shadow: 0 0 0 2px #333; /* Dark grey outline to indicate focus */
}
